/* #FFD966 amarelo para letras */
/* #595959 preto para background */
/* #04B8A7 azul para destaque */

* {
    padding: 0;
    margin: 0;
}

html body {
    background-color: rgba(0, 0, 0, 0.548);
}

/* cabeçalho */
.topo {
    width: 80%;
    height: 150px;
    color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 10px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    background-color: rgb(251, 251, 62)
}

.cabecalho {
    height: 128px;
    display: flex;
}


.usuario_logado {
    color: #7f89ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: right;
    padding-right: 5px;
    padding-top: -20px;
}

h1 {
    text-align: center;
    padding-top: 35px;
}

.menu {
    margin-top: -18px;
    padding-left: 5px;
    height: 22px;
    background-color: #000000ef;
    color: yellow;
}

.a_menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5px;
    font-size: 12px;
    color: yellow;
}

.a_menu:hover {
    text-decoration: none;
    color: yellow;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

/* corpo */
.corpo {
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    background-image: url("../img/corpo.jpg");
    background-size: cover;
    width: 80%;
    height: 490px;
    margin: auto;
    padding-top: 20px;
}


/* titulo do corpo */
.titulo{
    margin-top: -10px;
    margin-bottom: 10px;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

/* ensconder o opção nas tabelas */
.esconder {
    display: none;
}

/* rodape */
footer {
    color: black;
    margin-top: 15px;
    text-align: center;
}