#customers {
    color: white;
    /* background-color: #000000af; */
    background-color: rgba(19, 19, 19, 0.633);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    margin: auto;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 90%;
}


#customers td,
#customers th {
    padding: 8px;
}


#customers tr:nth-child(even) {
    text-align: center;
    background-color: #1c2261b6;
}

#customers .botoes_acao:hover {
    background-color: #00000097;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
}

#customers a {
    color: yellow;
}

#customers a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}