{% extends "template.html"%}
{% block conteudo %}     
     <form action="{{ url_for('atualizar') }}" method="post">

        <fieldset>

          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control" value="{{ produto.nome }}">
          </div>

          <div class="form-group">
            <label for="categoria">Categoria</label>
            <input type="text" id="categoria" name="categoria" class="form-control" value="{{ produto.categoria }}">
          </div>

          <div class="form-group">
            <label for="console">Console</label>
            <input type="text" id="console" name="console" class="form-control" value="{{ produto.marca }}">
          </div>

          <button type="submit" class="btn btn-success">Salvar</button>
        </fieldset>

      </form>
{% endblock %}
