<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css')}}">
<script src="{{ url_for('static', filename='js/table.js')}}"></script>

{% extends "template.html" %}
{% block conteudo %}


<div class="titulo">Lista de Produtos</div>

<div class="novo_item">
    <button type="button" class="button" name=""> Novo Produto </button>
</div>

<table class="fixed_headers" id="customers">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Produto</th>
            <th scope="col">Quantidade</th>
        </tr>
    </thead>
    <tbody>
        {% for estoque in estoques %}
        <tr class="botoes_acao" onclick="AbrirBotoes('{{ estoque.ID }}')">
            <td>{{ estoque.ID }}</td>
            <td>{{ estoque.PRO_ID }}</td>
            <td>{{ estoque.QTD_PRO }}</td>
        </tr>
        <td colspan="5" class="esconder" id="botoes_{{ estoque.ID }}">
            <div>
                <a class="sub_menu" href="#">Editar</a>
                <a class="sub_menu" href="{{url_for('ExcluiEstoque', id=estoque.ID)}}">Excluir</a>
            </div>
        </td>
        {% endfor %}

    </tbody>
</table>
{% endblock conteudo %}